version: "3.8"

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    container_name: db
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: always
    
  backend:
    image: ${DOCKERHUB_USERNAME}/kittygram_backend:latest
    container_name: backend
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - static:/static/
      - media:/media/
    restart: always


  frontend:
    image: ${DOCKERHUB_USERNAME}/kittygram_frontend:latest
    container_name: frontend
    command: sh -c "cp -r /app/build/. /static/ && echo 'frontend build copied to /static'"
    volumes:
      - static:/static/
    restart: "no"

  gateway:
    image: ${DOCKERHUB_USERNAME}/kittygram_gateway:latest
    container_name: gateway
    ports:
      - "9000:80"
    depends_on:
      - backend
      - frontend
    volumes:
      - static:/static/
      - media:/media/
    restart: always
